/* == Marque Theme == */
/* == Global Mods == */
html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-950);
}

/* == Page Item == */

.pageItem {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

/* == Lottie == */

.lottieWrap {
    border-radius: 100px;
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

dotlottie-player {
    border-radius: 100%;
    background-color: var(--dark);
    border: 2px solid var(--normal);
    height: 400px;
    padding: 30px;
    box-sizing: border-box;
}

/* == Page Header == */

.pageHeader {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    margin-bottom: 10px;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--color-400);
}

.pageHeader .product {
    max-width: 300px;
    min-width: 225px;
    width: max-content;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--font-primary);
    text-transform: lowercase;
    color: var(--color-200);
    column-gap: 10px;
    border: 1px solid var(--color-300);
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
}

.pageHeader .product * {
    margin: unset !important;
    font-weight: 300;
}

.pageHeader .feature {
    width: max-content;
    max-width: 30%;
    font-family: var(--font-secondary);
    font-weight: 500;
    color: var(--color-300);
    text-align: center;
    margin: unset;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 2.2rem;
}

.pageHeader .nav {
    width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

/* == Page Content == */
.pageContent {
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    border: 1px solid transparent;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--color-950);
    box-sizing: border-box;
    row-gap: 10px;
}

.pageContent::-webkit-scrollbar {
    display: inline;
    max-width: 10px;
}

.pageContent::-webkit-scrollbar-thumb {
    background: var(--medium);
    border: 2px solid var(--dark);
    border-radius: 10px;
}
.pageContent::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.miniRow {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: var(--color-400);
}

.miniRow .miniRowItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30px;
    overflow: hidden;
}

.miniRowItem h2 {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    margin: 0px 0px 0px 5px;
    color: var(--normal);
}

.miniRowItem p {
    font-family: var(--font-secondary);
    font-weight: 200;
    font-size: 1rem;
    margin: 0px 5px 0px 0px;
    color: var(--normal);
}

.fullRow, .fullRowCompact {
    width: -webkit-fill-available;
    height: max-content;
    border: 1px solid var(--color-300);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-bottom-width: 3px;
    border-right-width: 4px;
}

.fullRow .header, .fullRowCompact .header {
    width: -webkit-fill-available;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--color-300);
}

.fullRow .header h2, .fullRowCompact .header h2 {
    margin: 0;
    color: var(--color-100);
    font-family: var(--font-primary);
    font-weight: 900;
    box-sizing: border-box;
    font-size: 2rem;
}

.fullRow .header h3, .fullRowCompact .header h3 {
    width: -webkit-fill-available;
}

.fullRow .header .smallTitle, .fullRowCompact .header .smallTitle {
    margin: 0;
    color: var(--color-50);
    font-family: var(--font-primary);
    font-weight: 200;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.fullRow .content, .fullRowCompact .content {
    width: -webkit-fill-available;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fullRow .content:not(.table) *:not(span) {
    margin: 10px;
}

.content .bordered {
    border: 3px solid var(--color-50);
    border-radius: 10px;
}

.fullRow .table, .fullRowCompact table {
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 10px;
}

.fullRow .table:not(.last), .fullRowCompact .table:not(.last) {
    border-bottom: 1px solid var(--color-50);
}

.fullRow .borderBottom, .fullRowCompact .borderBottom {
    border-bottom: 2px solid var(--color-50);
    margin-bottom: 10px;
}

.contentRowHeader {
    width: 150px;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-50);
    font-size: 1.25rem;
}

.contentRowBody {
    width: -webkit-fill-available;
    height: max-content;
    font-family: var(--font-mono);
    color: var(--color-50);
}

.contentRowBody h4 {
    font-size: 1.1rem;
    font-weight: 450;
    margin: 5px 0px 5px 0px;
}

.contentRowBody p {
    margin: 5px 0px 5px 0px;
    font-style: italic;
    font-weight: 100;
}

/*
.homeNetItem {
    min-width: 250px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--normal);
    border-radius: 10px;
}

.homeNetItem h3 {
    color: var(--normal);
    font-family: var(--font-dyn);
    font-weight: normal;
}

.homeNetItem p {
    color: var(--normal);
    font-family: var(--font-dyn);
    width: 100%;
    text-align: center;
    margin-bottom: unset !important;
}

.navItem {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    flex-direction: column !important;
}

.metaRow {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--normal);
    font-family: var(--font-dyn);
}

.metaRow * {
    margin: unset !important;
}
*/

.fullRow h3 {
    display: block;
    margin: unset;
    font-family: var(--font-primary);
}

.fullRow h4 {
    font-weight: 300;
}

.fullRow .content .navItem .navBtn {
    border: 1px solid var(--color-400);
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    min-width: 100px;
    color: var(--normal);
    font-family: var(--font-dyn);
    font-weight: 900;
}

.fullRow .content .navItem .navBtn:enabled:hover {
    background-color: var(--color-50);
    color: var(--dark);
}

.fullRow .content .navItem .navBtn:disabled {
    color: gray;
    border-color: gray;
}

/* == Emphasis in Text == */
.textItem span {
    margin: unset !important;
}

.fineprint {
    font-size: 0.8rem;
    color: var(--color-200);
    font-family: var(--font-secondary);
    font-style: italic;
}

/* == MEGA BUTTON == */
.megaButton {
    width: 300px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid var(--color-300);
    color: var(--color-100);
    overflow: hidden;
    border-left-width: 6px;
    border-right-width: 6px;
}

.megaButton .megaBtnIcon {
    width: 65px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: unset !important;
    overflow: hidden;
    box-sizing: border-box;
    border: 3px solid transparent;
    border-radius: 10px;
    border-right-color: var(--color-400);
}

.megaButton .megaBtnIcon img {
    padding: 10px;
    box-sizing: border-box;
    margin: 3px !important;
}

.megaButton .megaBtnText {
    width: max-content;
    max-width: 315px;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: unset !important;
}

.megaButton .left {
    justify-content: flex-start;
}

.megaButton .right {
    justify-content: flex-end;
    flex-direction: column;
}

.megaButton .megaBtnText h2 {
    font-family: var(--font-primary);
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
}

.megaButton:hover {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.megaButton:hover .megaBtnIcon {
    border-right-color: transparent;
}

/* == Page Footer == */
.pageFooter {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    background-color: var(--color-950);
    margin-top: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.productLabel {
    margin: 0px;
    font-size: 1rem;
    font-family: var(--font-secondary);
    font-weight: 200;
    color: var(--color-600);
}

.productLabel img {
    margin-left: 10px;
}

.copyright {
    font-family: var(--font-dyn);
    font-size: 6px;
    color: var(--light);
    text-decoration: none;
    font-weight: 400;
}

/* == Marque Dialog == */

.marqueDialog {
    max-width: 800px;
    padding: 10px;
    background-color: var(--color-900);
    color: var(--color-100);
    backdrop-filter: blur(10px);
    border: 1px solid var(--color-600);
    border-radius: 10px;
    width: 90%;
    overflow: hidden scroll;
}

.marqueDialog::-webkit-scrollbar {
    display: none;
}

.marqueDialog::backdrop {
    background-color: var(--color-700);
    opacity: 0.8;
}

.marqueDialog h2 {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-primary);
    margin: 0;
    margin-bottom: 10px;
}

.marqueDialog h2 .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.marqueDialog h2 .header {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.marqueDialog .description {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.9rem;
    font-family: var(--font-secondary);
    font-weight: 100;
    opacity: 0.75;
}

.marqueDialog input::placeholder {
    font-family: var(--font-secondary);
    font-weight: 500;
    color: var(--color-50);
    opacity: 0.5;
}

.marqueDialog input[type="text"], .marqueDialog input[type="number"] {
    width: -webkit-fill-available;
    font-family: var(--font-secondary);
    font-weight: 300;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-50);
    margin-bottom: 10px;
    font-size: 15px;
    color: var(--color-50);
    height: 30px;
    text-align: center;
}

.marqueDialog label {
    font-family: var(--font-secondary);
    color: var(--color-50);
}

.marqueDialog select {
    width: -webkit-fill-available;
    margin-bottom: 10px;
    background-color: transparent;
    color: var(--color-50);
    font-family: var(--font-secondary);
    font-weight: 500;
    text-align: center;
    height: 30px;
    border-radius: 10px;
    border: 1px solid var(--color-50);
    opacity: 0.8;
}

.marqueDialog .controls {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px solid var(--color-50);
}

.marqueDialog .btn, .marqueDialog input[type="submit"] {
    height: 50px;
    min-width: max-content;
    width: 20%;
    background-color: var(--color-200);
    border: 1px solid transparent;
    border-radius: 10px;
    font-family: var(--font-primary);
    font-weight: bold;
    margin-top: auto;
}

.marqueDialog .btn:enabled:hover, .marqueDialog input[type="submit"]:hover {
    border-color: var(--color-100);
    background-color: transparent;
    color: var(--normal);
}

.marqueDialog .controls button {
    background-color: transparent;
    color: var(--color-200);
    border-color: var(--color-400);
}

.marqueDialog .controls button:hover {
    color: var(--color-50);
    border-color: var(--color-800);
}

.marqueDialog .dynWrap {
    width: 100%;
    height: max-content;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/* == FORMS == */
.dialogForm {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: max-content;
    justify-content: center;
    align-items: flex-start;
}

.flexForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--normal);
    border-radius: 10px;
    width: -webkit-fill-available;
    flex-wrap: wrap;
}

.flexForm input[type="text"], .flexForm input[type="number"], .flexForm select {
    width: -webkit-fill-available;
    background-color: transparent;
    color: var(--color-200);
    border: 1px solid var(--color-700);
    padding: 10px 5px 10px 5px;
    font-family: var(--font-mono);
    border-radius: 10px;
    font-size: 1rem;
}

.flexForm label {
    width: inherit;
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    color: var(--color-50);
    margin-bottom: 2px !important;
}

.flexForm .large {
    font-size: 3rem;
}

.fullRow .header .frHNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: unset;
}

.flexForm input[type="submit"] {
    height: 50px;
    min-width: max-content;
    width: 98%;
    background-color: transparent;
    border: 1px solid var(--color-300);
    border-radius: 10px;
    font-family: var(--font-secondary);
    font-weight: bold;
    margin-top: auto;
    color: var(--color-50);
    font-size: 1.2rem;
    transition: 0.8s;
}

.flexForm input[type="submit"]:hover {
    background-color: var(--color-300);
    color: var(--900);
    transition: 0.8s;
}

.flexForm .messageConfirm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    font-family: var(--font-dyn);
    background-color: #606c38;
    color: #141B0C;
    border-radius: 10px;
}

.flexForm .messageDeny {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    font-family: var(--font-dyn);
    background-color: var(--medium-dark);
    color: var(--dark);
    border-radius: 10px;
}

.callToAction {
  background: linear-gradient(to right, #ffadad, #ffd6a5, #ffd6a5, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff); /* Define your gradient */
  background-size: 400% 100%; /* Make the background larger than the container */
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 5px solid white;
  border-radius: 10px;
  background-color: var(--medium-dark);
}

.callToAction * {
  color: black !important;
  font-family: var(--font-dyn);
  margin: unset;
  padding: 10px;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

/* MOBILE STYLES */
@media only screen and (max-width: 600px) {
    .megaButton, .comingSoonButton, .mbWide, .homeNetItem {
        width: 90%;
    }
    .partial {
        height: 100%;
    }

    .miniRow {
        flex-direction: column;
    }

    .pageContent::-webkit-scrollbar {
        display: none;
    }
    
    .largePageHeader {
        font-size: 2rem;
    }

    .subPageHeader {
        font-size: 1.1rem;
    }

    .documentBody p {
        text-align: justify;
    }

    .pageHeader {
        flex-direction: row;
        height: max-content;
        width: 100%;
        flex-wrap: wrap;
    }

    .pageHeader .product {
        width: 97%;
        max-width: unset;
        justify-content: space-between;
    }

    .pageHeader .feature {
        width: 80%;
        max-width: unset;
        flex-basis: 80%;
        text-align: left;
        font-size: 1.1rem;
    }

    .pageHeader .nav {
        width: unset;
        min-width: 75px;
    }
}