/* == Marque Theme == */
/* == Global Mods == */
html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-950);
}

/* == Page Item == */

.pageItem {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

/* == Lottie == */

.lottieWrap {
    border-radius: 100px;
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* == Page Header == */

.pageHeader {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    margin-bottom: 10px;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--color-400);
}

.pageHeader .product {
    max-width: 300px;
    min-width: 225px;
    width: max-content;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--font-primary);
    text-transform: lowercase;
    color: var(--color-200);
    column-gap: 10px;
    border: 1px solid var(--color-300);
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
    transition: 0.8s;
}

.pageHeader .product:hover {
    box-shadow: 0px 0px 20px -10px;
    border-color: var(--color-100);
}

.pageHeader .product * {
    margin: unset !important;
    font-weight: 300;
}

.pageHeader .feature {
    width: max-content;
    max-width: 30%;
    font-family: var(--font-primary);
    font-weight: 100;
    color: var(--color-300);
    text-align: center;
    margin: unset;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 2.2rem;
}

.pageHeader .nav {
    width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

/* == Page Content == */
.pageContent {
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    border: 1px solid transparent;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--color-950);
    box-sizing: border-box;
    row-gap: 10px;
}

.pageContent::-webkit-scrollbar {
    display: initial;
}

.fullRow, .fullRowCompact {
    width: -webkit-fill-available;
    height: max-content;
    border: 1px solid transparent;
    border-top-color: var(--color-700);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.fullRow .header, .fullRowCompact .header {
    width: -webkit-fill-available;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--color-300);
}

.fullRow .header h2, .fullRowCompact .header h2 {
    margin: 0;
    color: var(--color-200);
    font-family: var(--font-primary);
    font-weight: 900;
    box-sizing: border-box;
    font-size: 2rem;
}

.fullRow .header h3, .fullRowCompact .header h3 {
    width: -webkit-fill-available;
}

.fullRow .content, .fullRowCompact .content {
    width: -webkit-fill-available;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    column-gap: 10px;
    row-gap: 10px;
}

.content .bordered {
    border: 3px solid var(--color-50);
    border-radius: 10px;
}

.fullRow .table, .fullRowCompact table {
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 10px;
}

.fullRow .table:not(.last), .fullRowCompact .table:not(.last) {
    border-bottom: 1px solid var(--color-50);
}

.fullRow .borderBottom, .fullRowCompact .borderBottom {
    border-bottom: 2px solid var(--color-50);
    margin-bottom: 10px;
}

.fullRow h3 {
    display: block;
    margin: unset;
    font-family: var(--font-primary);
}

.fullRow h4 {
    font-weight: 300;
}

.fullRow .content .navItem .navBtn {
    border: 1px solid var(--color-400);
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    min-width: 100px;
    color: var(--normal);
    font-family: var(--font-dyn);
    font-weight: 900;
}

/* == Emphasis in Text == */
.textItem span {
    margin: unset !important;
}

.fineprint {
    font-size: 0.8rem;
    color: var(--color-200);
    font-family: var(--font-secondary);
    font-style: italic;
}

/* == MEGA BUTTON == */
.megaButton {
    width: 300px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px dotted var(--color-400);
    color: var(--color-400);
    overflow: hidden;
    transition: 0.8s;
    font-family: var(--font-secondary);
}

.megaButton .megaBtnIcon {
    width: 65px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 3px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 15px;
    transition: 0.5s;
}

.megaButton .megaBtnIcon img {
    padding: 10px;
    box-sizing: border-box;
    margin: 3px !important;
}

.megaButton .megaBtnText {
    width: max-content;
    max-width: 315px;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 15px;
}

.megaButton .left {
    justify-content: flex-start;
}

.megaButton .right {
    justify-content: flex-end;
    flex-direction: column;
}

.megaButton .megaBtnText h2 {
    font-family: var(--font-primary);
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    margin: unset;
    font-size: 1.2rem;
}

.megaButton:hover {
    border-color: var(--color-400);
    border-style: solid;
    color: var(--color-100);
    box-shadow: 0px 0px 20px -10px;
    transition: 0.8s;
}

.megaButton:hover .megaBtnIcon {
    border-color: transparent;
    transition: 0.4s;
}

/* == Small Button == */
.smallButton {
    width: 200px;
    height: max-content;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--font-secondary);
    font-weight: 300;
    color: var(--color-400);
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border: 1px dotted var(--color-400);
    border-radius: 5px;
    transition: 0.8s;
}

.smallButton:hover {
    color: var(--color-50);
    box-shadow: 0px 0px 20px -10px;
    transition: 0.5s;
}

/* == Page Footer == */
.pageFooter {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    background-color: var(--color-950);
    margin-top: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.productLabel {
    margin: 0px;
    font-size: 1rem;
    font-family: var(--font-secondary);
    font-weight: 200;
    color: var(--color-600);
}

.productLabel img {
    margin-left: 10px;
}

.copyright {
    font-family: var(--font-secondary);
    font-size: 1rem;
    color: var(--color-700);
    text-decoration: none;
    font-weight: 400;
}

/* == Marque Dialog == */

.marqueDialog {
    width: 50%;
    overflow: hidden scroll;
    background-color: var(--color-900);
    color: var(--color-100);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 30px -10px;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.6s ease, transform 0.6s ease, display 0.6s allow-discrete;
}

.marqueDialog[open] {
    opacity: 1;
    transform: scale(1);
}


@starting-style {
    .marqueDialog[open] {
        opacity: 0;
        transform: scale(0.95);
    }
}

.marqueDialog::backdrop {
    background-color: var(--color-50);
    transition: background-color 0.6s ease;
}

.marqueDialog[open]::backdrop {
    background-color: var(--color-900);
    opacity: 0.4;
}

@starting-style {
    .marqueDialog[open]::backdrop {
        background-color: rgba(0, 0, 0, 0);
    }
}

.marqueDialog::-webkit-scrollbar {
    display: none;
}

.marqueDialog h2 {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-primary);
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
}

.marqueDialog h2 .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.marqueDialog .dialogContent {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.marqueDialog .dialogContent .innerHead {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.marqueDialog .dialogContent .innerHead h3 {
    font-family: var(--font-secondary);
    font-weight: 300;
    color: var(--color-200);
}

.marqueDialog .dialogContent .innerBody {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.marqueDialog .controls {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px solid var(--color-50);
}

.marqueDialog .btn {
    height: 50px;
    min-width: max-content;
    width: 20%;
    background-color: var(--color-200);
    border: 1px solid transparent;
    border-radius: 10px;
    font-family: var(--font-primary);
    font-weight: bold;
    margin-top: auto;
}

.marqueDialog .btn:enabled:hover {
    border-color: var(--color-100);
    background-color: transparent;
    color: var(--normal);
}

/* == FORMS == */
.flexForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    flex-wrap: wrap;
    row-gap: 10px;
}

.flexForm .formHead {
    width: 100%;
    height: max-content;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.flexForm .formFields {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.flexForm .formFields .fieldRow {
    width: max-content;
    min-width: 300px;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    border-radius: 10px;
    padding: 5px;
    line-height: 0.9;
}

.flexForm .formFields .bordered {
    border: 1px dotted var(--color-300);
}

.flexForm input[type="text"], .flexForm input[type="number"], .flexForm select {
    width: -webkit-fill-available;
    background-color: transparent;
    color: var(--color-200);
    border: 1px solid var(--color-700);
    padding: 10px 5px 10px 5px;
    font-family: var(--font-mono);
    border-radius: 10px;
    font-size: 1rem;
}

.flexForm input[type="checkbox"] {
    accent-color: var(--color-900);
    appearance: transparent;
    -webkit-appearance: none;
    background-color: transparent;
    width: 2.2em;
    height: 2em;
    border: 1px solid var(--color-300);
    border-radius: 2px;
    font-size: 1rem;
    transition: 0.8s;
}

.flexForm input[type="checkbox"]:checked {
    appearance: auto;
    border: 1px solid var(--color-300);
    transition: 0.8s;
}

.flexForm input[type="checkbox"]:hover {
    background-color: var(--color-300);
}

.flexForm label {
    width: inherit;
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    color: var(--color-200);
    margin-bottom: 2px !important;
}

.flexForm .large {
    font-size: 3rem;
}

.fullRow .header .frHNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: unset;
}

.flexForm .messageConfirm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    font-family: var(--font-dyn);
    background-color: #606c38;
    color: #141B0C;
    border-radius: 10px;
}

.flexForm .messageDeny {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    font-family: var(--font-dyn);
    background-color: var(--medium-dark);
    color: var(--dark);
    border-radius: 10px;
}

/* MOBILE STYLES */
@media only screen and (max-width: 800px) {
    .megaButton {
        width: 100%;
    }

    .marqueDialog {
        width: 90%;
    }

    .pageContent::-webkit-scrollbar {
        display: none;
    }

    .pageHeader {
        flex-direction: row;
        height: max-content;
        width: 100%;
        flex-wrap: wrap;
        min-height: 105px;
    }

    .pageHeader .product {
        width: 97%;
        max-width: unset;
        justify-content: space-between;
    }

    .pageHeader .feature {
        width: 65%;
        max-width: -webkit-fill-available;
        flex-basis: 80%;
        text-align: left;
        font-size: 1.1rem;
    }

    .pageHeader .nav {
        width: unset;
        min-width: 75px;
    }
}