/* Fonts */
/* Bogita Mono */
/* @since 18.3.0 (MyNSR) */
/* Thin */
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-ThinOblique.woff2') format('woff2');
  font-weight: 100;
  font-style: oblique;
}

/* Ultra Light */
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-UltraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-UltraLightOblique.woff2') format('woff2');
  font-weight: 200;
  font-style: oblique;
}

/* Light */
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-LightOblique.woff2') format('woff2');
  font-weight: 300;
  font-style: oblique;
}

/* Regular */
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-Oblique.woff2') format('woff2');
  font-weight: 400;
  font-style: oblique;
}

/* Medium */
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-MediumOblique.woff2') format('woff2');
  font-weight: 500;
  font-style: oblique;
}

/* Semi Bold */
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-SemiBoldOblique.woff2') format('woff2');
  font-weight: 600;
  font-style: oblique;
}

/* Bold */
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-BoldOblique.woff2') format('woff2');
  font-weight: 700;
  font-style: oblique;
}

/* Ultra Bold */
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-UltraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-UltraBoldOblique.woff2') format('woff2');
  font-weight: 800;
  font-style: oblique;
}

/* Black */
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Bogita Mono';
  src: url('/public/fonts/BogitaMono/BogitaMono-BlackOblique.woff2') format('woff2');
  font-weight: 900;
  font-style: oblique;
}

/* Variables */
 :root {
    --light: #F2F7F3; /* #FFC3C3 */
    --normal: #C0DAC6; /* #FF9999 */
    --medium: #47825D; /* #FF5F5F */
    --medium-dark: #2a523b; /* #9C1717 */
    --dark: #101E17; /* #280101 */
    --font-h1: 'Parkinsans', monospace;
    --font-hx: 'Parkinsans', monospace;
    --font-body: 'Parkinsans', sans-serif;
    --font-dyn-u: 'Parkinsans', monospace;
    --font-dyn: 'Parkinsans', monospace;
    --font-sans: 'Parkinsans', sans-serif;
}

/*
 * REDS
 * #FFF0F0, #FFC1C1, #FF2727, #AE0606, #420000
 * #F5F5F5, #F0D8D8, #C27171, #733A3A, #351A1A
 * #F9F5F3, #E4CEC4, #B26E5D, #703E3C, #1E1010
 * #FBF5F5, #F3D5D5, #CA6969, #7D3737, #4C1F1F
 *
 * BLUES
 * #F2F9F8, #C1E0E0, #488E92, #345156, #1B2D31
 *
 * PURPLES
 * #F1F3FC, #D1D5F4, #817CD8, #4F448F, #12101E
 *
 * GREENS
 * #F2F7F3, #C0DAC6, #47825D, #2a523b, #101E17
 *
 * UICOLORS CODES
 * 50, 200, 500, 800, 950
 */